src/main/webapp/WEB-INF/security/security.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://com.rosivanyshyn.Hotel" xmlns:tns="http://com.rosivanyshyn.Hotel">
	<xsd:element name="security">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="constraint" type="tns:Constraint"
					minOccurs="1" maxOccurs="unbounded" />
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="Constraint">
		<xsd:sequence>
			<xsd:element name="url-pattern" type="xsd:string"
				minOccurs="1" maxOccurs="1" />
			<xsd:element name="role" type="xsd:string" minOccurs="1"
				maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>